<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zpo.pocassignment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.DetailTwoActivity"></activity>
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.FeelingActivity" />
        <activity android:name=".activities.DeliveryChatActivity" />
        <activity android:name=".activities.CompleteActivity" />
        <activity android:name=".activities.RatingActivity" />
        <activity android:name=".activities.DeliveryActivity" />
        <activity android:name=".activities.TopUpSuccessActivity" />
        <activity android:name=".activities.AmountEnterActivity" />
        <activity android:name=".activities.ExpenseOnActivity" />
        <activity android:name=".activities.ReceiptActivity" />
        <activity android:name=".activities.CardActivity" />
        <activity android:name=".activities.TopUpActivity" />
        <activity android:name=".activities.PopularSearch" />
        <activity android:name=".activities.DetailOneActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.ExploreActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>